.ae-menu.ae-full {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-width: $ae-menu-full-border-width;
  border-radius: $ae-menu-full-border-radius;

  .ember-flex-menu-option-button, .ember-flex-menu-option-input {
    border-width: $ae-menu-option-full-border-width;
  }

  .ember-flex-menu-option-input-accept {
    border-width: $ae-menu-option-full-border-width;
    border-top-right-radius: $ae-menu-full-border-radius;
    border-bottom-right-radius: $ae-menu-full-border-radius;
    padding: 0 $ae-menu-option-input-accept-full-padding-sides;
    font-size: $ae-menu-option-input-accept-full-font-size;
  }
}

@media (min-width: map-get($breakpoints, small)) {
  .ae-menu.ae-full {
    padding: $ae-menu-full-padding * map-get($breakpoint_factors, small);

    .ae-menu-text {
      font-size: $ae-menu-text-full-font-size * map-get($breakpoint_factors, small);
      margin-bottom: $ae-menu-text-full-margin-bottom * map-get($breakpoint_factors, small);
    }

    .ember-flex-menu-option-button {
      font-size: $ae-menu-option-full-font-size * map-get($breakpoint_factors, small);
    }

    .ember-flex-menu-option-input {
      padding: $ae-menu-option-input-full-padding * map-get($breakpoint_factors, small);
    }

    .ember-flex-menu-option-slider-text {
      font-weight: $ae-menu-option-slider-full-font-weight;
      font-size: $ae-menu-option-slider-full-font-size * map-get($breakpoint_factors, small);
    }

    .noUi-target {
      margin-bottom: $ae-menu-option-slider-full-margin-bottom * map-get($breakpoint_factors, small);
    }

    .ember-flex-menu-option-type {
      width: $ae-menu-option-full-width * 0.95;
      margin: $ae-menu-option-full-margin-ends auto;
    }
  }
}

@media (min-width: map-get($breakpoints, medium)) {
  .ae-menu.ae-full {
    padding: $ae-menu-full-padding;

    .ae-menu-text {
      font-size: $ae-menu-text-full-font-size;
      margin-bottom: $ae-menu-text-full-margin-bottom;
    }

    .ember-flex-menu-option-button {
      font-size: $ae-menu-option-full-font-size;
    }

    .ember-flex-menu-option-input {
      padding: $ae-menu-option-input-full-padding;
    }

    .ember-flex-menu-option-slider-text {
      font-size: $ae-menu-option-slider-full-font-size;
    }

    .noUi-target {
      margin-bottom: $ae-menu-option-slider-full-margin-bottom;
    }

    .ember-flex-menu-option-type {
      width: $ae-menu-option-full-width;
      margin-bottom: $ae-menu-option-full-margin-ends;
      margin-top: $ae-menu-option-full-margin-ends;
    }
  }
}

.ae-text.ae-full {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;

  border-width: $ae-text-full-border-width;
  border-radius: $ae-text-full-border-radius;
  text-align: $ae-text-full-text-align;

  .ae-text-caption {
    display: full;
    border: 0;
  }
}

@media (min-width: map-get($breakpoints, small)) {
  .ae-text.ae-full {
    font-size: $ae-text-full-font-size * map-get($breakpoint_factors, small);
    padding: $ae-text-full-padding * map-get($breakpoint_factors, small);

    .ae-text-caption {
      font-size: $ae-text-caption-full-font-size * map-get($breakpoint_factors, small);
    }
  }
}

@media (min-width: map-get($breakpoints, medium)) {
  .ae-text.ae-full {
    font-size: $ae-text-full-font-size;
    padding: $ae-text-full-padding;

    .ae-text-caption {
      font-size: $ae-text-caption-full-font-size;
    }
  }
}
