$ae-full-padding: 19%;

// menu
$ae-menu-full-padding: $ae-menu-padding !default;
$ae-menu-full-border-width: $ae-menu-border-width !default;
$ae-menu-full-border-radius: 0 !default;

$ae-menu-text-full-font-size: $ae-menu-text-font-size !default;
$ae-menu-text-full-margin-bottom: $ae-menu-text-margin-bottom !default;

$ae-menu-option-full-font-size: $ae-menu-option-font-size !default;
$ae-menu-option-full-margin-ends: $ae-menu-option-margin-ends !default;
$ae-menu-option-full-width: $ae-menu-option-width !default;
$ae-menu-option-full-border-width: $ae-menu-border-width !default;

$ae-menu-option-input-full-padding-ends: $ae-menu-option-input-padding !default;
$ae-menu-option-input-full-padding-sides: $ae-menu-option-input-padding * 3 !default;
$ae-menu-option-input-full-margin-bottom: 0 !default;
$ae-menu-option-input-accept-full-padding-sides: 15px !default;
$ae-menu-option-input-accept-full-font-size: 175% !default;

$ae-menu-option-slider-full-font-size: $ae-menu-option-full-font-size !default;
$ae-menu-option-slider-full-font-weight: bold !default;
$ae-menu-option-slider-full-margin-sides: 20px !default;
$ae-menu-option-slider-full-margin-bottom: $ae-menu-option-margin-ends * 3 !default;

// text
$ae-text-full-padding: $ae-text-padding-base !default;
$ae-text-full-font-size: $ae-text-font-size !default;
$ae-text-full-line-height: $ae-default-line-height !default;
$ae-text-caption-full-font-size: $ae-text-caption-font-size !default;
$ae-text-full-border-width: $ae-text-border-width !default;
$ae-text-full-border-radius: 0 !default;
$ae-text-full-text-align: $ae-text-text-align !default;

// text-menu
$ae-text-menu-full-margin-top: $ae-text-full-line-height !default;
