$ae-full-padding: 19%;

// menu
$ae-menu-full-padding: $ae-menu-padding !default;
$ae-menu-full-border-width: $ae-menu-border-width !default;
$ae-menu-full-border-radius: $ae-default-border-radius !default;

$ae-menu-header-full-font-size: $ae-menu-header-font-size !default;
$ae-menu-header-full-margin-bottom: $ae-menu-header-margin-bottom !default;

$ae-menu-option-full-font-size: $ae-menu-option-font-size !default;
$ae-menu-option-full-margin-bottom: $ae-menu-option-margin-bottom !default;
$ae-menu-option-full-width: $ae-menu-option-width !default;
$ae-menu-option-full-border-width: $ae-menu-border-width !default;

// text
$ae-text-full-padding: $ae-text-padding-base !default;
$ae-text-full-font-size: $ae-text-font-size !default;
$ae-text-full-line-height: $ae-default-line-height !default;
$ae-text-caption-full-font-size: $ae-text-caption-font-size !default;
$ae-text-full-border-width: $ae-text-border-width !default;
$ae-text-full-border-radius: $ae-default-border-radius !default;
$ae-text-full-text-align: $ae-text-text-align !default;

// text-menu
$ae-text-menu-full-margin-top: $ae-text-full-line-height !default;
